
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-626641832272462423.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-626641832272462423.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-626641832272462423.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-626641832272462423.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-626641832272462423.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-626641832272462423.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-626641832272462423.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-626641832272462423.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-626641832272462423.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-626641832272462423.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-626641832272462423.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-626641832272462423.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-626641832272462423.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-626641832272462423.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-626641832272462423.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-626641832272462423.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-626641832272462423.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-626641832272462423.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-626641832272462423.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-626641832272462423.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-626641832272462423.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-626641832272462423.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-626641832272462423.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-626641832272462423.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-626641832272462423.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-626641832272462423.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-626641832272462423.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-626641832272462423.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-626641832272462423.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-626641832272462423.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-626641832272462423.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-626641832272462423.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-626641832272462423.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-626641832272462423.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-626641832272462423.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-626641832272462423.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-626641832272462423.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-626641832272462423.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-626641832272462423.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-626641832272462423.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-626641832272462423.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-626641832272462423.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-626641832272462423.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-626641832272462423.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-626641832272462423.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-626641832272462423.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-626641832272462423.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-626641832272462423.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-626641832272462423.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-626641832272462423.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-626641832272462423.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-626641832272462423.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-626641832272462423.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-626641832272462423.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-626641832272462423.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-626641832272462423.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-626641832272462423.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-626641832272462423 .gp-relative{position:relative}.gps-626641832272462423 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-626641832272462423 .gp-mb-0{margin-bottom:0}.gps-626641832272462423 .gp-inline-block{display:inline-block}.gps-626641832272462423 .gp-flex{display:flex}.gps-626641832272462423 .gp-grid{display:grid}.gps-626641832272462423 .gp-contents{display:contents}.gps-626641832272462423 .\!gp-hidden{display:none!important}.gps-626641832272462423 .gp-hidden{display:none}.gps-626641832272462423 .gp-h-auto{height:auto}.gps-626641832272462423 .gp-h-full{height:100%}.gps-626641832272462423 .gp-w-full{width:100%}.gps-626641832272462423 .gp-max-w-full{max-width:100%}.gps-626641832272462423 .gp-flex-none{flex:none}.gps-626641832272462423 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-626641832272462423 .gp-flex-col{flex-direction:column}.gps-626641832272462423 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-626641832272462423 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-626641832272462423 .gp-duration-200{transition-duration:.2s}.gps-626641832272462423 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-626641832272462423 .tablet\:\!gp-hidden{display:none!important}.gps-626641832272462423 .tablet\:gp-hidden{display:none}.gps-626641832272462423 .tablet\:gp-h-auto{height:auto}.gps-626641832272462423 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-626641832272462423 .mobile\:\!gp-hidden{display:none!important}.gps-626641832272462423 .mobile\:gp-hidden{display:none}.gps-626641832272462423 .mobile\:gp-h-auto{height:auto}.gps-626641832272462423 .mobile\:gp-flex-none{flex:none}}.gps-626641832272462423 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pr:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#242424","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gg-KVvJZwS"}' data-id="gg-KVvJZwS" id="gg-KVvJZwS" data-same-height-subgrid-container class="gg-KVvJZwS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--pt:var(--g-s-s);--pb:var(--g-s-s);--pt-mobile:var(--g-s-s);--pl-mobile:36px;--pb-mobile:var(--g-s-s);--pr-mobile:36px;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gCSKst4DKD gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gb2cifejKU"}' data-id="gb2cifejKU" id="gb2cifejKU" data-same-height-subgrid-container class="gb2cifejKU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:var(--g-s-l);--gtc:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gefbFiR7PZ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gIeig_MvXb"
      style="--pageType:GP_STATIC;--ta:left"
      class="gp-group/image gp-relative force-publish-1784523334582 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gIeig_MvXb"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggIeig_MvXb_srcSet_desktop_src }}" srcset="{{ section.settings.ggIeig_MvXb_srcSet_desktop_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggIeig_MvXb_srcSet_desktop_src }}" srcset="{{ section.settings.ggIeig_MvXb_srcSet_desktop_src }}" />
    
      
      <img
        title="{{ section.settings.ggIeig_MvXb_title }}" loading="eager" fetchpriority="high"
        src="{{ section.settings.ggIeig_MvXb_srcSet_desktop_src }}" data-src="{{ section.settings.ggIeig_MvXb_srcSet_desktop_src }}"
        alt="{{ section.settings.ggIeig_MvXb_alt }}"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g30U7Z4jeU gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glb9uZcGLP"
        class="glb9uZcGLP"
        style="--ta:left;--pageType:GP_STATIC;--textColor:text-3;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-text-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.gglb9uZcGLP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-626641832272462423 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/bys-store-3184281-552068/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=626641817256854103&sectionId=626641832272462423)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggIeig_MvXb_srcSet_desktop_src","label":"ggIeig_MvXb_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/image_58_2a4c8589-3319-42e3-9ce9-4cb5d1762c99.webp"},{"type":"html","id":"ggIeig_MvXb_alt","label":"ggIeig_MvXb_alt","default":"Alt Image"},{"type":"html","id":"ggIeig_MvXb_title","label":"ggIeig_MvXb_title","default":"Image Title"},{"type":"html","id":"gglb9uZcGLP_text","label":"gglb9uZcGLP_text","default":"Easter-Ready Home Decoration. Don't miss your chance to save up to 50%"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}