
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-626641834822599467.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-626641834822599467.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-626641834822599467.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-626641834822599467.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-626641834822599467.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-626641834822599467.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-626641834822599467.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-626641834822599467.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-626641834822599467.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-626641834822599467.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-626641834822599467.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-626641834822599467.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-626641834822599467.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-626641834822599467.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-626641834822599467.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-626641834822599467.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-626641834822599467.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-626641834822599467.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-626641834822599467.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-626641834822599467.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-626641834822599467.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-626641834822599467.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-626641834822599467.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-626641834822599467.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-626641834822599467.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-626641834822599467.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-626641834822599467.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-626641834822599467.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-626641834822599467.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-626641834822599467.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-626641834822599467.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-626641834822599467.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-626641834822599467.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-626641834822599467.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-626641834822599467.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-626641834822599467.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-626641834822599467.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-626641834822599467.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-626641834822599467.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-626641834822599467.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-626641834822599467.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-626641834822599467.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-626641834822599467.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-626641834822599467.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-626641834822599467.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-626641834822599467.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-626641834822599467.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-626641834822599467.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-626641834822599467.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-626641834822599467.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-626641834822599467.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-626641834822599467.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-626641834822599467.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-626641834822599467.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-626641834822599467.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-626641834822599467.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-626641834822599467.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-626641834822599467.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-626641834822599467.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-626641834822599467.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-626641834822599467.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-626641834822599467.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-626641834822599467.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-626641834822599467.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-626641834822599467.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-626641834822599467.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-626641834822599467.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-626641834822599467.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-626641834822599467.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-626641834822599467.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-626641834822599467.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-626641834822599467 .gp-relative{position:relative}.gps-626641834822599467 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-626641834822599467 .gp-mb-0{margin-bottom:0}.gps-626641834822599467 .gp-inline-block{display:inline-block}.gps-626641834822599467 .gp-flex{display:flex}.gps-626641834822599467 .gp-inline-flex{display:inline-flex}.gps-626641834822599467 .gp-grid{display:grid}.gps-626641834822599467 .gp-contents{display:contents}.gps-626641834822599467 .\!gp-hidden{display:none!important}.gps-626641834822599467 .gp-hidden{display:none}.gps-626641834822599467 .gp-h-auto{height:auto}.gps-626641834822599467 .gp-h-full{height:100%}.gps-626641834822599467 .gp-w-full{width:100%}.gps-626641834822599467 .gp-max-w-full{max-width:100%}.gps-626641834822599467 .gp-flex-none{flex:none}.gps-626641834822599467 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-626641834822599467 .gp-flex-col{flex-direction:column}.gps-626641834822599467 .gp-items-center{align-items:center}.gps-626641834822599467 .gp-justify-center{justify-content:center}.gps-626641834822599467 .gp-overflow-hidden{overflow:hidden}.gps-626641834822599467 .gp-leading-\[0\]{line-height:0}.gps-626641834822599467 .gp-text-g-brand{color:var(--g-c-brand)}.gps-626641834822599467 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-626641834822599467 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-626641834822599467 .gp-duration-200{transition-duration:.2s}.gps-626641834822599467 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-626641834822599467 .tablet\:\!gp-hidden{display:none!important}.gps-626641834822599467 .tablet\:gp-hidden{display:none}.gps-626641834822599467 .tablet\:gp-h-auto{height:auto}.gps-626641834822599467 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-626641834822599467 .mobile\:\!gp-hidden{display:none!important}.gps-626641834822599467 .mobile\:gp-hidden{display:none}.gps-626641834822599467 .mobile\:gp-h-auto{height:auto}.gps-626641834822599467 .mobile\:gp-flex-none{flex:none}}.gps-626641834822599467 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-626641834822599467 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-626641834822599467 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-626641834822599467 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-626641834822599467 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pr:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F5F7F8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gsEaJ9uz2_"}' data-id="gsEaJ9uz2_" id="gsEaJ9uz2_" data-same-height-subgrid-container class="gsEaJ9uz2_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--pt:42px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:33px;--pb-tablet:0px;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gSf2V_d2mJ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gKrPOaaYLY"}' data-id="gKrPOaaYLY" id="gKrPOaaYLY" data-same-height-subgrid-container class="gKrPOaaYLY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--pt:30px;--pb:56px;--pt-tablet:30px;--pl-tablet:15px;--pb-tablet:49px;--pr-tablet:15px;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="g_brUSmRVW gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g8dK8SKcP7"
      style="--pageType:GP_STATIC;--mb:var(--g-s-2xl);--ta:left"
      class="gp-group/image gp-relative force-publish-1784523334591 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g8dK8SKcP7"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg8dK8SKcP7_srcSet_desktop_src }}" srcset="{{ section.settings.gg8dK8SKcP7_srcSet_desktop_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg8dK8SKcP7_srcSet_desktop_src }}" srcset="{{ section.settings.gg8dK8SKcP7_srcSet_desktop_src }}" />
    
      
      <img
        title="{{ section.settings.gg8dK8SKcP7_title }}" loading="eager" fetchpriority="high"
        src="{{ section.settings.gg8dK8SKcP7_srcSet_desktop_src }}" data-src="{{ section.settings.gg8dK8SKcP7_srcSet_desktop_src }}"
        alt="{{ section.settings.gg8dK8SKcP7_alt }}"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:159px;--w-tablet:159px;--w-mobile:159px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g834LKcSql"}' data-id="g834LKcSql" id="g834LKcSql" data-same-height-subgrid-container class="g834LKcSql gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(--g-s-2xl);--cg:var(--g-s-l);--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMGAd9X9BS gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gZVl4wuj1I" class="gp-leading-[0] gZVl4wuj1I" style="--pageType:GP_STATIC;--ta:left">
      <div data-id="gZVl4wuj1I" class="icon-wrapper gp-inline-flex gp-overflow-hidden gZVl4wuj1I " style="--pl:[object Object];--pr:[object Object];--pt:[object Object];--pb:[object Object];--pl-tablet:[object Object];--pr-tablet:[object Object];--pt-tablet:[object Object];--pb-tablet:[object Object];--pl-mobile:[object Object];--pr-mobile:[object Object];--pt-mobile:[object Object];--pb-mobile:[object Object];--bg:transparent">
      
        <div >
          <span style="--c:var(--g-c-brand, brand);--t:rotate(0deg);--w:46px;--h:46px;--minw:46px;--height-desktop:46px;--height-tablet:46px;--height-mobile:46px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-brand"> <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect width="46" height="46" rx="23" fill="white"/> <path d="M23.1666 18.4827C24.2328 18.4649 25.263 18.868 26.0339 19.6047L28.1849 17.4537C26.8274 16.1786 25.029 15.4784 23.1666 15.5C21.776 15.4994 20.4127 15.8856 19.229 16.6154C18.0453 17.3452 17.0879 18.3898 16.4639 19.6325L18.9696 21.575C19.2578 20.6853 19.8178 19.9084 20.5707 19.3537C21.3236 18.799 22.2315 18.4944 23.1666 18.4827Z" fill="#424242"/> <path d="M16.4634 19.6323C15.939 20.6774 15.666 21.8306 15.666 22.9998C15.666 24.1691 15.939 25.3222 16.4634 26.3673L18.9691 24.4248C18.6555 23.5007 18.6555 22.4989 18.9691 21.5748L16.4641 19.6323H16.4634Z" fill="#424242"/> <path d="M25.7063 26.8013C25.1265 27.1735 24.4693 27.4084 23.7849 27.488C23.1004 27.5676 22.4069 27.4898 21.7571 27.2606C21.1073 27.0315 20.5184 26.6569 20.0353 26.1655C19.5523 25.6741 19.1879 25.0789 18.9698 24.4253L16.4648 26.3678C17.0888 27.6102 18.0459 28.6547 19.2293 29.3845C20.4127 30.1143 21.7758 30.5006 23.1661 30.5003C24.9918 30.5497 26.7674 29.8997 28.1296 28.683L25.7056 26.8013H25.7063Z" fill="#424242"/> <path d="M30.2295 21.6362H23.166V24.5372H27.2025C27.119 24.9961 26.9432 25.4333 26.6859 25.8224C26.4286 26.2114 26.0951 26.5442 25.7055 26.8007L28.1295 28.6832C28.8677 27.9723 29.4482 27.1142 29.8335 26.1646C30.2187 25.215 30.4002 24.195 30.366 23.1707C30.366 22.6555 30.321 22.1425 30.2295 21.6362Z" fill="#424242"/> </svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gwT5nItG2x gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gFzn5aM0_h" class="gp-leading-[0] gFzn5aM0_h" style="--pageType:GP_STATIC;--ta:left">
      <div data-id="gFzn5aM0_h" class="icon-wrapper gp-inline-flex gp-overflow-hidden gFzn5aM0_h " style="--pl:[object Object];--pr:[object Object];--pt:[object Object];--pb:[object Object];--pl-tablet:[object Object];--pr-tablet:[object Object];--pt-tablet:[object Object];--pb-tablet:[object Object];--pl-mobile:[object Object];--pr-mobile:[object Object];--pt-mobile:[object Object];--pb-mobile:[object Object];--bg:transparent">
      
        <div >
          <span style="--c:var(--g-c-brand, brand);--t:rotate(0deg);--w:46px;--h:46px;--minw:46px;--height-desktop:46px;--height-tablet:46px;--height-mobile:46px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-brand"> <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect width="46" height="46" rx="23" fill="white"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M15.125 19.625C15.125 17.1397 17.1397 15.125 19.625 15.125H26.375C28.8603 15.125 30.875 17.1397 30.875 19.625V26.375C30.875 28.8603 28.8603 30.875 26.375 30.875H19.625C17.1397 30.875 15.125 28.8603 15.125 26.375V19.625ZM23 20.1875C22.4437 20.1875 21.9 20.3525 21.4375 20.6615C20.9749 20.9705 20.6145 21.4098 20.4016 21.9237C20.1887 22.4376 20.133 23.0031 20.2415 23.5487C20.3501 24.0943 20.6179 24.5954 21.0113 24.9887C21.4046 25.3821 21.9057 25.6499 22.4513 25.7585C22.9969 25.867 23.5624 25.8113 24.0763 25.5984C24.5902 25.3855 25.0295 25.0251 25.3385 24.5625C25.6475 24.1 25.8125 23.5563 25.8125 23C25.8125 22.2543 25.5163 21.5391 24.9891 21.0117C24.4619 20.4843 23.7469 20.1878 23.0011 20.1875H23ZM26.75 18.0797C26.8887 17.987 27.0519 17.9375 27.2188 17.9375C27.4425 17.9376 27.6573 18.0265 27.8155 18.1847C27.9737 18.343 28.0625 18.5575 28.0625 18.7812C28.0625 18.9481 28.013 19.1113 27.9203 19.25C27.8276 19.3888 27.6958 19.4969 27.5416 19.5608C27.3875 19.6246 27.2178 19.6413 27.0541 19.6088C26.8905 19.5762 26.7401 19.4959 26.6221 19.3779C26.5041 19.2599 26.4238 19.1095 26.3912 18.9459C26.3587 18.7822 26.3754 18.6125 26.4392 18.4584C26.5031 18.3042 26.6112 18.1724 26.75 18.0797Z" fill="#424242"/> </svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gUmAkaKVLZ gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g_mhsw83pz" class="gp-leading-[0] g_mhsw83pz" style="--pageType:GP_STATIC;--ta:left">
      <div data-id="g_mhsw83pz" class="icon-wrapper gp-inline-flex gp-overflow-hidden g_mhsw83pz " style="--pl:[object Object];--pr:[object Object];--pt:[object Object];--pb:[object Object];--pl-tablet:[object Object];--pr-tablet:[object Object];--pt-tablet:[object Object];--pb-tablet:[object Object];--pl-mobile:[object Object];--pr-mobile:[object Object];--pt-mobile:[object Object];--pb-mobile:[object Object];--bg:transparent">
      
        <div >
          <span style="--c:var(--g-c-brand, brand);--t:rotate(0deg);--w:46px;--h:46px;--minw:46px;--height-desktop:46px;--height-tablet:46px;--height-mobile:46px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-brand"> <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect width="46" height="46" rx="23" fill="white"/> <path d="M24.0167 30.5001V23.6579H26.3132L26.6574 20.9916H24.0174V19.2891C24.0174 18.5166 24.2312 17.9909 25.3382 17.9909L26.7504 17.9901V15.6051C26.0671 15.5328 25.3803 15.4977 24.6932 15.5001C22.6569 15.5001 21.2634 16.7429 21.2634 19.0251V20.9916H18.9609V23.6579H21.2634V30.5001H24.0167Z" fill="#424242"/> </svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gSESLVZ47P gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gpY3HDPu_J" class="gp-leading-[0] gpY3HDPu_J" style="--pageType:GP_STATIC;--ta:left">
      <div data-id="gpY3HDPu_J" class="icon-wrapper gp-inline-flex gp-overflow-hidden gpY3HDPu_J " style="--pl:[object Object];--pr:[object Object];--pt:[object Object];--pb:[object Object];--pl-tablet:[object Object];--pr-tablet:[object Object];--pt-tablet:[object Object];--pb-tablet:[object Object];--pl-mobile:[object Object];--pr-mobile:[object Object];--pt-mobile:[object Object];--pb-mobile:[object Object];--bg:transparent">
      
        <div >
          <span style="--c:var(--g-c-brand, brand);--t:rotate(0deg);--w:46px;--h:46px;--minw:46px;--height-desktop:46px;--height-tablet:46px;--height-mobile:46px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-brand"> <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect width="46" height="46" rx="23" fill="white"/> <path d="M30.5 18.3471C29.9383 18.5961 29.3424 18.7594 28.7323 18.8316C29.3752 18.4472 29.8563 17.8421 30.086 17.1291C29.482 17.488 28.8209 17.7407 28.1315 17.8761C27.7091 17.4265 27.1613 17.1141 26.5592 16.9794C25.9571 16.8448 25.3285 16.8942 24.7548 17.1212C24.1811 17.3482 23.6889 17.7423 23.3419 18.2524C22.9949 18.7626 22.8091 19.3652 22.8088 19.9821C22.8083 20.2181 22.8348 20.4534 22.8875 20.6834C21.6641 20.622 20.4672 20.304 19.3746 19.7501C18.2821 19.1962 17.3182 18.4187 16.5455 17.4681C16.1519 18.1457 16.0314 18.9477 16.2083 19.711C16.3853 20.4743 16.8465 21.1414 17.498 21.5766C17.0089 21.5617 16.5306 21.4297 16.103 21.1919V21.2309C16.1031 21.9415 16.349 22.6302 16.7991 23.1801C17.2491 23.7301 17.8755 24.1074 18.572 24.2481C18.3078 24.32 18.0351 24.3561 17.7613 24.3554C17.5667 24.3555 17.3726 24.3374 17.1815 24.3014C17.378 24.9128 17.7607 25.4474 18.276 25.8307C18.7913 26.2139 19.4134 26.4266 20.0555 26.4389C18.7651 27.4489 17.1271 27.9065 15.5 27.7116C16.907 28.6161 18.5448 29.0963 20.2175 29.0946C21.3693 29.1024 22.5112 28.8813 23.5769 28.4441C24.6425 28.0068 25.6107 27.3622 26.4251 26.5477C27.2396 25.7332 27.8841 24.765 28.3212 23.6993C28.7583 22.6336 28.9794 21.4917 28.9715 20.3399C28.9715 20.2064 28.9683 20.0739 28.9618 19.9424C29.5652 19.5062 30.086 18.966 30.5 18.3471Z" fill="#424242"/> </svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      
      class="gnmKUN2chH gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gv-5XXzGB1"}' data-id="gv-5XXzGB1" id="gv-5XXzGB1" data-same-height-subgrid-container class="gv-5XXzGB1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--pt:auto;--pb:auto;--cg:30px;--cg-tablet:24px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gIgQ9xbH5t gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQx72_-08j"
        class="gQx72_-08j"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggQx72_-08j_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3rVE6WwIJ"
        class="g3rVE6WwIJ"
        style="--ta:left;--pageType:GP_STATIC;--mb:var(--g-s-s);--textColor:#424242;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.gg3rVE6WwIJ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gc02vkajFG"
        class="gc02vkajFG"
        style="--ta:left;--pageType:GP_STATIC;--mb:var(--g-s-s);--textColor:#424242;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggc02vkajFG_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzvD4aUvUP"
        class="gzvD4aUvUP"
        style="--ta:left;--pageType:GP_STATIC;--mb:var(--g-s-s);--mb-mobile:var(--g-s-2xl);--textColor:#424242;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggzvD4aUvUP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gnTla_sFZO gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8PCvwmmNo"
        class="g8PCvwmmNo"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.gg8PCvwmmNo_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper  class="g0citH4ccq ">
      
    
    <div class="gp-flex" >
    <div
      data-id="g0citH4ccq"
       style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--gg:var(--g-s-l)"
        >
        
    <li
      data-index="0" data-id="gw0F5bzoOV"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-g0citH4ccq"
      style="--cg:var(--g-s-xs)"
    >
    <div
      data-same-height-display-contents
      
      class="gGaS0vawKm gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gMD2SNIs-1"
      style="--pageType:GP_STATIC;--ta:left"
      class="gp-group/image gp-relative force-publish-1784523334603 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gMD2SNIs-1"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggMD2SNIs-1_srcSet_desktop_src }}" srcset="{{ section.settings.ggMD2SNIs-1_srcSet_desktop_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggMD2SNIs-1_srcSet_desktop_src }}" srcset="{{ section.settings.ggMD2SNIs-1_srcSet_desktop_src }}" />
    
      
      <img
        title="{{ section.settings.ggMD2SNIs-1_title }}" loading="eager" fetchpriority="high"
        src="{{ section.settings.ggMD2SNIs-1_srcSet_desktop_src }}" data-src="{{ section.settings.ggMD2SNIs-1_srcSet_desktop_src }}"
        alt="{{ section.settings.ggMD2SNIs-1_alt }}"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:22px;--w-tablet:22px;--w-mobile:22px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      
      class="g2zicbHXkl gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gr1_2Vkq40"
        class="gr1_2Vkq40"
        style="--ta:left;--pageType:GP_STATIC;--mb:0px;--textColor:#424242;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggr1_2Vkq40_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="1" data-id="g54Ua3a6bV"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-g0citH4ccq"
      style="--cg:var(--g-s-xs)"
    >
    <div
      data-same-height-display-contents
      
      class="gdaBrXlN_p gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="goov2Mdi2t"
      style="--pageType:GP_STATIC;--ta:left"
      class="gp-group/image gp-relative force-publish-1784523334605 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto goov2Mdi2t"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggoov2Mdi2t_srcSet_desktop_src }}" srcset="{{ section.settings.ggoov2Mdi2t_srcSet_desktop_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggoov2Mdi2t_srcSet_desktop_src }}" srcset="{{ section.settings.ggoov2Mdi2t_srcSet_desktop_src }}" />
    
      
      <img
        title="{{ section.settings.ggoov2Mdi2t_title }}" loading="eager" fetchpriority="high"
        src="{{ section.settings.ggoov2Mdi2t_srcSet_desktop_src }}" data-src="{{ section.settings.ggoov2Mdi2t_srcSet_desktop_src }}"
        alt="{{ section.settings.ggoov2Mdi2t_alt }}"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:22px;--w-tablet:22px;--w-mobile:22px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      
      class="g3Ntjik1U2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ge1LAZgagj"
        class="ge1LAZgagj"
        style="--ta:left;--pageType:GP_STATIC;--mb:0px;--textColor:#424242;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.gge1LAZgagj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
      </ul>
  </div>
  </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#242424","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGzp2Rj59y"}' data-id="gGzp2Rj59y" id="gGzp2Rj59y" data-same-height-subgrid-container class="gGzp2Rj59y gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--pt:19px;--pb:19px;--pt-tablet:14px;--pb-tablet:14px;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gbignnk3lX gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gEhxNxNUci"}' data-id="gEhxNxNUci" id="gEhxNxNUci" data-same-height-subgrid-container class="gEhxNxNUci gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--pt:auto;--pb:auto;--pt-tablet:auto;--pl-tablet:15px;--pb-tablet:auto;--pr-tablet:15px;--cg:30px;--cg-mobile:7px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:center;--o:0"
      class="giNHrNB5YJ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6aVfz7oXm"
        class="g6aVfz7oXm"
        style="--ta:left;--ta-mobile:center;--pageType:GP_STATIC;--textColor:text-3;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="gp-text-g-text-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--ta-mobile:center;--c:var(--g-c-text-3, text-3);word-break:break-word;overflow:hidden"
        >
          {{ section.settings.gg6aVfz7oXm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="g8rk7cFBtI gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g2Zq2DE_jk"
      style="--pageType:GP_STATIC;--ta:right;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1784523334609 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g2Zq2DE_jk"
    >
      <div
        
        style="border-radius:inherit;--jc:right;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg2Zq2DE_jk_srcSet_desktop_src }}" srcset="{{ section.settings.gg2Zq2DE_jk_srcSet_desktop_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg2Zq2DE_jk_srcSet_desktop_src }}" srcset="{{ section.settings.gg2Zq2DE_jk_srcSet_desktop_src }}" />
    
      
      <img
        title="{{ section.settings.gg2Zq2DE_jk_title }}" loading="eager" fetchpriority="high"
        src="{{ section.settings.gg2Zq2DE_jk_srcSet_desktop_src }}" data-src="{{ section.settings.gg2Zq2DE_jk_srcSet_desktop_src }}"
        alt="{{ section.settings.gg2Zq2DE_jk_alt }}"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:248px;--w-tablet:248px;--w-mobile:248px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-626641834822599467 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/bys-store-3184281-552068/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=626641817256854103&sectionId=626641834822599467)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg8dK8SKcP7_srcSet_desktop_src","label":"gg8dK8SKcP7_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/logo_5ab0f33c-ec7b-4550-95bb-730a17006234.webp"},{"type":"html","id":"gg8dK8SKcP7_alt","label":"gg8dK8SKcP7_alt","default":"Alt Image"},{"type":"html","id":"gg8dK8SKcP7_title","label":"gg8dK8SKcP7_title","default":"Image Title"},{"type":"html","id":"ggQx72_-08j_text","label":"ggQx72_-08j_text","default":"<p>Service</p>"},{"type":"html","id":"gg3rVE6WwIJ_text","label":"gg3rVE6WwIJ_text","default":"<p><a href=\"#\">Delivery Information</a></p>"},{"type":"html","id":"ggc02vkajFG_text","label":"ggc02vkajFG_text","default":"<p><a href=\"#\">Return &amp; Exchange</a></p>"},{"type":"html","id":"ggzvD4aUvUP_text","label":"ggzvD4aUvUP_text","default":"<p><a href=\"#\">Privacy Policy</a></p>"},{"type":"html","id":"gg8PCvwmmNo_text","label":"gg8PCvwmmNo_text","default":"<p>Contact Us</p>"},{"type":"html","id":"ggMD2SNIs-1_srcSet_desktop_src","label":"ggMD2SNIs-1_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/image_20_246f9465-be71-456e-abb4-0ca1215aa8dc.webp"},{"type":"html","id":"ggMD2SNIs-1_alt","label":"ggMD2SNIs-1_alt","default":"Alt Image"},{"type":"html","id":"ggMD2SNIs-1_title","label":"ggMD2SNIs-1_title","default":"Image Title"},{"type":"html","id":"ggr1_2Vkq40_text","label":"ggr1_2Vkq40_text","default":"2678 Simons Hollow Road, NYC, US"},{"type":"html","id":"ggoov2Mdi2t_srcSet_desktop_src","label":"ggoov2Mdi2t_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/image_21_e38df131-7ead-47cb-a8c4-32be47d0e4bd.webp"},{"type":"html","id":"ggoov2Mdi2t_alt","label":"ggoov2Mdi2t_alt","default":"Alt Image"},{"type":"html","id":"ggoov2Mdi2t_title","label":"ggoov2Mdi2t_title","default":"Image Title"},{"type":"html","id":"gge1LAZgagj_text","label":"gge1LAZgagj_text","default":"999 - 9999 - 999"},{"type":"html","id":"gg6aVfz7oXm_text","label":"gg6aVfz7oXm_text","default":"Copyright © 2022 GemPages. All Rights Reserved."},{"type":"html","id":"gg2Zq2DE_jk_srcSet_desktop_src","label":"gg2Zq2DE_jk_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/image_22_45c2f2eb-6f0f-4d0a-82ed-8eb4d023b290.webp"},{"type":"html","id":"gg2Zq2DE_jk_alt","label":"gg2Zq2DE_jk_alt","default":"Alt Image"},{"type":"html","id":"gg2Zq2DE_jk_title","label":"gg2Zq2DE_jk_title","default":"Image Title"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}