
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-626641833748857643.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-626641833748857643.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-626641833748857643.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-626641833748857643.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-626641833748857643.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-626641833748857643.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-626641833748857643.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-626641833748857643.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-626641833748857643.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-626641833748857643.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-626641833748857643.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-626641833748857643.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-626641833748857643.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-626641833748857643.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-626641833748857643.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-626641833748857643.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-626641833748857643.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-626641833748857643.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-626641833748857643.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-626641833748857643.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-626641833748857643.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-626641833748857643.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-626641833748857643.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-626641833748857643.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-626641833748857643.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-626641833748857643.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-626641833748857643.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-626641833748857643.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-626641833748857643.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-626641833748857643.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-626641833748857643.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-626641833748857643.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-626641833748857643.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-626641833748857643.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-626641833748857643.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-626641833748857643.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-626641833748857643.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-626641833748857643.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-626641833748857643.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-626641833748857643.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-626641833748857643.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-626641833748857643.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-626641833748857643.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-626641833748857643.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-626641833748857643.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-626641833748857643.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-626641833748857643.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-626641833748857643.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-626641833748857643.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-626641833748857643.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-626641833748857643.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-626641833748857643.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-626641833748857643.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-626641833748857643.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-626641833748857643.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-626641833748857643.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-626641833748857643.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-626641833748857643.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-626641833748857643.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-626641833748857643.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-626641833748857643.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-626641833748857643.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-626641833748857643.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-626641833748857643 .gp-relative{position:relative}.gps-626641833748857643 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-626641833748857643 .gp-mb-0{margin-bottom:0}.gps-626641833748857643 .gp-inline-block{display:inline-block}.gps-626641833748857643 .gp-flex{display:flex}.gps-626641833748857643 .gp-grid{display:grid}.gps-626641833748857643 .gp-contents{display:contents}.gps-626641833748857643 .\!gp-hidden{display:none!important}.gps-626641833748857643 .gp-hidden{display:none}.gps-626641833748857643 .gp-h-auto{height:auto}.gps-626641833748857643 .gp-h-full{height:100%}.gps-626641833748857643 .gp-w-full{width:100%}.gps-626641833748857643 .gp-max-w-full{max-width:100%}.gps-626641833748857643 .gp-flex-none{flex:none}.gps-626641833748857643 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-626641833748857643 .gp-flex-col{flex-direction:column}.gps-626641833748857643 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-626641833748857643 .gp-duration-200{transition-duration:.2s}.gps-626641833748857643 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-626641833748857643 .tablet\:\!gp-hidden{display:none!important}.gps-626641833748857643 .tablet\:gp-hidden{display:none}.gps-626641833748857643 .tablet\:gp-h-auto{height:auto}.gps-626641833748857643 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-626641833748857643 .mobile\:\!gp-hidden{display:none!important}.gps-626641833748857643 .mobile\:gp-hidden{display:none}.gps-626641833748857643 .mobile\:gp-h-auto{height:auto}.gps-626641833748857643 .mobile\:gp-flex-none{flex:none}}.gps-626641833748857643 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pr:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gvjTH4dydl"}' data-id="gvjTH4dydl" id="gvjTH4dydl" data-same-height-subgrid-container class="gvjTH4dydl gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--pt:72px;--pl:15px;--pb:72px;--pr:15px;--pt-tablet:63px;--pl-tablet:15px;--pb-tablet:63px;--pr-tablet:15px;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="g8TQ7Yd375 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g_JV3a8DqZ"}' data-id="g_JV3a8DqZ" id="g_JV3a8DqZ" data-same-height-subgrid-container class="g_JV3a8DqZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-3xl);--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gAPPbXEjr_ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEdczN2GFE"
        class="gEdczN2GFE"
        style="--ta:center;--pageType:GP_STATIC;--mb:var(--g-s-s);--textColor:#424242;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggEdczN2GFE_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g99WwoSOZI"
        class="g99WwoSOZI"
        style="--ta:center;--pageType:GP_STATIC;--mb:var(--g-s-s);--textColor:#000000;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:normal;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.gg99WwoSOZI_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g1mLQrTw-B"}' data-id="g1mLQrTw-B" id="g1mLQrTw-B" data-same-height-subgrid-container class="g1mLQrTw-B gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--cg:30px;--cg-tablet:28px;--cg-mobile:28px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="g0mzvDNT2N gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gpc3O4436B"
      style="--pageType:GP_STATIC;--mb:var(--g-s-2xl);--ta:center"
      class="gp-group/image gp-relative force-publish-1784523334593 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gpc3O4436B"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggpc3O4436B_srcSet_desktop_src }}" srcset="{{ section.settings.ggpc3O4436B_srcSet_desktop_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggpc3O4436B_srcSet_desktop_src }}" srcset="{{ section.settings.ggpc3O4436B_srcSet_desktop_src }}" />
    
      
      <img
        title="{{ section.settings.ggpc3O4436B_title }}" loading="eager" fetchpriority="high"
        src="{{ section.settings.ggpc3O4436B_srcSet_desktop_src }}" data-src="{{ section.settings.ggpc3O4436B_srcSet_desktop_src }}"
        alt="{{ section.settings.ggpc3O4436B_alt }}"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:128px;--w-tablet:128px;--w-mobile:128px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJU8jwXKUM"
        class="gJU8jwXKUM"
        style="--ta:center;--pageType:GP_STATIC;--mb:var(--g-s-s);--textColor:text-2;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggJU8jwXKUM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDkc4qORdg"
        class="gDkc4qORdg"
        style="--ta:center;--pageType:GP_STATIC;--mb-mobile:var(--g-s-2xl);--textColor:#424242;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggDkc4qORdg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gtqW_X8Sw5 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gW17J4uSic"
      style="--pageType:GP_STATIC;--mb:var(--g-s-2xl);--ta:center"
      class="gp-group/image gp-relative force-publish-1784523334594 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gW17J4uSic"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggW17J4uSic_srcSet_desktop_src }}" srcset="{{ section.settings.ggW17J4uSic_srcSet_desktop_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggW17J4uSic_srcSet_desktop_src }}" srcset="{{ section.settings.ggW17J4uSic_srcSet_desktop_src }}" />
    
      
      <img
        title="{{ section.settings.ggW17J4uSic_title }}" loading="eager" fetchpriority="high"
        src="{{ section.settings.ggW17J4uSic_srcSet_desktop_src }}" data-src="{{ section.settings.ggW17J4uSic_srcSet_desktop_src }}"
        alt="{{ section.settings.ggW17J4uSic_alt }}"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:157px;--w-tablet:157px;--w-mobile:157px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWNx0dLhaM"
        class="gWNx0dLhaM"
        style="--ta:center;--pageType:GP_STATIC;--mb:var(--g-s-s);--textColor:text-2;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggWNx0dLhaM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7MizJ_kq0"
        class="g7MizJ_kq0"
        style="--ta:center;--pageType:GP_STATIC;--mb-mobile:var(--g-s-2xl);--textColor:#424242;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.gg7MizJ_kq0_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="g9UhTDzsOr gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gQPCepNck2"
      style="--pageType:GP_STATIC;--mb:var(--g-s-2xl);--ta:center"
      class="gp-group/image gp-relative force-publish-1784523334595 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gQPCepNck2"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggQPCepNck2_srcSet_desktop_src }}" srcset="{{ section.settings.ggQPCepNck2_srcSet_desktop_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggQPCepNck2_srcSet_desktop_src }}" srcset="{{ section.settings.ggQPCepNck2_srcSet_desktop_src }}" />
    
      
      <img
        title="{{ section.settings.ggQPCepNck2_title }}" loading="eager" fetchpriority="high"
        src="{{ section.settings.ggQPCepNck2_srcSet_desktop_src }}" data-src="{{ section.settings.ggQPCepNck2_srcSet_desktop_src }}"
        alt="{{ section.settings.ggQPCepNck2_alt }}"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdxmtJGEP7"
        class="gdxmtJGEP7"
        style="--ta:center;--pageType:GP_STATIC;--mb:var(--g-s-s);--textColor:text-2;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggdxmtJGEP7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdTyHriGFo"
        class="gdTyHriGFo"
        style="--ta:center;--pageType:GP_STATIC;--textColor:#424242;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggdTyHriGFo_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-626641833748857643 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/bys-store-3184281-552068/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=626641817256854103&sectionId=626641833748857643)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggEdczN2GFE_text","label":"ggEdczN2GFE_text","default":"The unique value we create"},{"type":"html","id":"gg99WwoSOZI_text","label":"gg99WwoSOZI_text","default":"Splendid And Timeless Design"},{"type":"html","id":"ggpc3O4436B_srcSet_desktop_src","label":"ggpc3O4436B_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/image_6_16f341cc-ff3d-4a45-a811-7df94a1be212.webp"},{"type":"html","id":"ggpc3O4436B_alt","label":"ggpc3O4436B_alt","default":"Alt Image"},{"type":"html","id":"ggpc3O4436B_title","label":"ggpc3O4436B_title","default":"Image Title"},{"type":"html","id":"ggJU8jwXKUM_text","label":"ggJU8jwXKUM_text","default":"Designed By Gemco"},{"type":"html","id":"ggDkc4qORdg_text","label":"ggDkc4qORdg_text","default":"All Gemco products are carefully\ndesigned and crafted by us before\nreaching customers.\n"},{"type":"html","id":"ggW17J4uSic_srcSet_desktop_src","label":"ggW17J4uSic_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/image_7_0c07c8b1-638b-4735-be7d-f0c9103c6393.webp"},{"type":"html","id":"ggW17J4uSic_alt","label":"ggW17J4uSic_alt","default":"Alt Image"},{"type":"html","id":"ggW17J4uSic_title","label":"ggW17J4uSic_title","default":"Image Title"},{"type":"html","id":"ggWNx0dLhaM_text","label":"ggWNx0dLhaM_text","default":"Design With Love"},{"type":"html","id":"gg7MizJ_kq0_text","label":"gg7MizJ_kq0_text","default":"We put all our love into each Gemco product.\nWe want the product to reach customers\nwith the best perfection"},{"type":"html","id":"ggQPCepNck2_srcSet_desktop_src","label":"ggQPCepNck2_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/image_8_bd44edb9-75a9-42fc-8f65-f0230b32647e.webp"},{"type":"html","id":"ggQPCepNck2_alt","label":"ggQPCepNck2_alt","default":"Alt Image"},{"type":"html","id":"ggQPCepNck2_title","label":"ggQPCepNck2_title","default":"Image Title"},{"type":"html","id":"ggdxmtJGEP7_text","label":"ggdxmtJGEP7_text","default":"Friendly Design"},{"type":"html","id":"ggdTyHriGFo_text","label":"ggdTyHriGFo_text","default":"Gemco always brings customers\nproducts that are safe for users,\nfriendly with nature."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}